.template {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 20px 0px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.t-title {
  font-size: 22px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.t-desc {
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.pills {
  padding: 10px 0px 20px;
}

.t-img {
  padding: 0px 15px 15px;
}

#t-pic {
  @media screen and (max-width: 1366px) {
    width: 250px;
  }
}

#p-link {
  height: 26px;
  padding-left: 5px;
  @media screen and (max-width: 480px) {
    width: 16px;
  }
  @media (prefers-color-scheme: dark) {
    filter: invert(100%) sepia(200%) saturate(0%) hue-rotate(340deg)
      brightness(100%) contrast(99%);
  }
}
#p-link:hover {
  filter: drop-shadow(1px 1px 6px #b9795e);
}
