:root {
  font-family: Quicksand Reg;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 3px;
  overflow-x: hidden;
  color: #5f401a;

  @media (prefers-color-scheme: dark) {
    color: #fbf8f4;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fbf8f4;
  }
}

.title {
  font-size: 45px;
  @media screen and (max-width: 1366px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 28px;
  }
}

.sub-title {
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
.location {
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.normal-text {
  font-size: 22px;
  @media screen and (max-width: 1366px) {
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.divider {
  border-bottom: 1px solid #5f401a;
  width: 110%;
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid #fbf8f4;
  }
}

.project-title {
  font-size: 28px;
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand Reg";
  src: local("Quicksand-Regular"),
    url(./fonts/Quicksand-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Quicksand Med";
  src: local("Quicksand-Medium"),
    url(./fonts/Quicksand-Medium.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

#icon-link {
  @media (prefers-color-scheme: dark) {
    filter: invert(100%) sepia(200%) saturate(0%) hue-rotate(340deg)
      brightness(100%) contrast(99%);
  }
}

#icon-link:hover {
  filter: drop-shadow(1px 1px 6px #b9795e);
}

input,
textarea {
  width: 100%;
  border-bottom: 1px solid #5f401a;
  font-family: Quicksand Reg;
  padding: 15px 0px;
  resize: none;
  font-size: 18px;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid #fbf8f4;
  }
}

button {
  font-family: Quicksand Reg;
  font-size: 22px;
  padding: 15px;
  color: #5f401a;
  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
  @media (prefers-color-scheme: dark) {
    color: #fbf8f4 !important;
  }
}

button:hover {
  text-shadow: 1px 1px 6px #b9795e;
}
